<p id="notice"><%= notice %></p>
<h1> Perfil </h1>
<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


    <% @posts.each do |post| %>
      <%if post.User.id == current_user.id %>
      <tr>
        <td><%= post.conteudo %></td>
        <td><%= post.User.nome.capitalize %></td>
        <td><%= link_to 'Show', post %></td>
        <% if post.User.id == current_user.id%>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>

        <td><%= link_to like_post_path(post), class: "like", method: :put do%>
          <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-thumbs-up"> <%=post.get_likes.size%></span> Likes
          </button>
        <%end%></td>

        <td><%= link_to dislike_post_path(post), class: "like", method: :put do%>
          <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-thumbs-down"> <%=post.get_dislikes.size%></span> Dislikes
        </button>
        <%end%></td>
      </tr>
      <% end %>
    <% end %>