<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :conteudo %>
    <%= form.text_field :conteudo, value: "253" %>
  </div>

    <% if current_user %>
        User ID:<%= current_user.id %>
        User Name: <%= current_user.nome %>
        <%= form.hidden_field :user_id, value: current_user.id%>
    <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
