<p id="notice"><%= notice %></p>

<p>
  <strong>Conteudo:</strong>
  <%= @post.conteudo %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.User.nome.capitalize %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
