<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<head>
  <title>Lastchance</title>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if logged_in?%>
    Vc esta logado como
    <%= current_user.nome.capitalize %>
    <br>
    <%= link_to "Profile", current_user %>
    <br>
    <%= link_to "Posts", posts_path %>
    <br>
    <%= link_to "sair", logout_path, method: :delete %>
  <% else %>
    não esta logado
    <%= link_to "Login", login_path %>
  <% end %>
  
  <%= yield %>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>